pkgbase = nextcloud-client-appimage-daily
	pkgdesc = Nextcloud desktop client (official daily AppImage build)
	pkgver = 20240312
	pkgrel = 1
	epoch = 1
	url = https://download.nextcloud.com/desktop/daily/linux
	arch = x86_64
	arch = i686
	license = GPL2
	makedepends = p7zip
	makedepends = curl
	depends = zlib
	optdepends = hicolor-icon-theme: needed for hicolor theme hierarchy
	provides = nextcloud-client
	conflicts = nextcloud-client
	conflicts = nextcloud-client-git
	conflicts = owncloud-client
	noextract = linux-20240312.AppImage
	options = !strip
	source = nextcloud-20240312.AppImage::https://download.nextcloud.com/desktop/daily/linux/linux-20240312.AppImage
	sha256sums = 624e3164c2e0c89e532e54a54f127da59ef14cbb9aa52a4fe1f4348284a7597a

pkgname = nextcloud-client-appimage-daily
